.header {
  font-size: 24px;
  font-weight: bold;
  padding: 30px 0 20px;
}

.sub-header {
  font-weight: bold;
  padding: 16px 0 4px;
}

.tags {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 4px 0;
}

.tag {
  display: inline-block;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  padding: 4px 10px;
  border-radius: 20px;
  margin: 2px;
}